# Ignore virtual environment folders
.venv/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore data folders
data/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variable files
.env
.env.*

# VS Code settings (optional)
.vscode/

# macOS system files (optional)
.DS_Store

Full_documentation.docx